{% extends 'base.html' %}

<!-- Content block -->
{% block content %}

<div class="container space">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title"> Techie Talk </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4> {{quote}} </h4>
            </p><b> {{ quote_author }} </b></p>

            <p class="text"> A blog by @dunyung1 bringing you the latest trends in technology </p>

            {% if current_user.is_authenticated %}
            <p><button class="button buttonx ">View Blogs</button></p>
            {% else %}
            <p><a href="{{url_for('auth.login')}}"> <button class="button button1 ">Sign In</button></a></p>            
            <p><button class="button buttonx ">View Blogs</button></p>
            
            {%endif%}
        </div>
    </div>
</div>

{% endblock%}